<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctr="http://www.springframework.org/schema/contributions"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/contributions http://www.springframework.org/schema/contributions/spring-contributions-3.0.xsd">

	<bean name="valueHolder" class="org.springframework.contributions.ValueHolder">
		<constructor-arg>
			<ctr:contribution-ref name="value-list" />
		</constructor-arg>
	</bean>

	<ctr:contribution to="value-list">
		<ctr:entry name="string3" value="String 3" constraints="after:string2" />
		<ctr:entry name="string1" value="String 1" constraints="before:*" />
	</ctr:contribution>

</beans>